# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/d542ebcc02d72183/MAIN.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/d46916daf2eb2e92/WORLD.ipch
/OJISWING/.vs/OJISWING/v15/Browse.VC.opendb
/OJISWING/.vs/OJISWING/v15/Browse.VC.db
/OJISWING/.vs/OJISWING/v15/.suo
/OJISWING/OJISWING/Debug/yamame.tlog/yamame.lastbuildstate
/OJISWING/OJISWING/Debug/yamame.tlog/link.write.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/link.read.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/link.command.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/CL.write.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/CL.read.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/CL.command.1.tlog
/OJISWING/OJISWING/Log.txt
/OJISWING/OJISWING/Debug/vc141.pdb
/OJISWING/OJISWING/Debug/vc141.idb
/OJISWING/OJISWING/OJISWING.vcxproj.user
/OJISWING/Debug/yamame.pdb
/OJISWING/Debug/yamame.ilk
/OJISWING/OJISWING/Debug/OJISWING.log
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/6aea1c9ef7b61b78/OJISAN.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/be58b73f6e874202/SCREENSHAKER.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/a20acbf08ff660f3/MAIN.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/2ebd0ca2b3fbadc8/OJISAN.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/3bfda0958fddc7f3/MAIN.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/38009987e8b104c8/OJISAN.ipch
/shootemup/.vs/shootemup/v15/ipch/AutoPCH/3f4d3f668d7f5432/MAIN.ipch
/shootemup/.vs/shootemup/v15/Browse.VC.opendb
/shootemup/.vs/shootemup/v15/Browse.VC.db
/shootemup/.vs/shootemup/v15/.suo
/shootemup/shootemup/x64/Debug/vc141.pdb
/shootemup/shootemup/x64/Debug/vc141.idb
/shootemup/shootemup/x64/Debug/shootemup.tlog/shootemup.lastbuildstate
/shootemup/shootemup/x64/Debug/shootemup.tlog/link.write.1.tlog
/shootemup/shootemup/x64/Debug/shootemup.tlog/link.read.1.tlog
/shootemup/shootemup/x64/Debug/shootemup.tlog/link.command.1.tlog
/shootemup/shootemup/x64/Debug/shootemup.tlog/CL.write.1.tlog
/shootemup/shootemup/x64/Debug/shootemup.tlog/CL.read.1.tlog
/shootemup/shootemup/x64/Debug/shootemup.tlog/CL.command.1.tlog
/shootemup/shootemup/x64/Debug/shootemup.log
/shootemup/shootemup/Log.txt
/shootemup/x64/Debug/shootemup.pdb
/shootemup/x64/Debug/shootemup.ilk
/shootemup/shootemup/img/player.png
/shootemup/shootemup/img/enemy.png
*.ipch
*.zip
/OJISWING/Debug/OJISWING.pdb
/OJISWING/Debug/OJISWING.ilk
/OJISWING/OJISWING/Debug/OJISWING.tlog/OJISWING.lastbuildstate
/OJISWING/OJISWING/Debug/OJISWING.tlog/link.write.1.tlog
/OJISWING/OJISWING/Debug/OJISWING.tlog/link.read.1.tlog
/OJISWING/OJISWING/Debug/OJISWING.tlog/link.command.1.tlog
/OJISWING/OJISWING/Debug/OJISWING.tlog/CL.write.1.tlog
/OJISWING/OJISWING/Debug/OJISWING.tlog/CL.read.1.tlog
/OJISWING/OJISWING/Debug/OJISWING.tlog/CL.command.1.tlog
/Bezier_3/.vs/Bezier_3/v15/Browse.VC.opendb
/Bezier_3/.vs/Bezier_3/v15/Browse.VC.db
/Bezier_3/.vs/Bezier_3/v15/.suo
/Bezier_3/Bezier_3/x64/Debug/vc141.pdb
/Bezier_3/Bezier_3/x64/Debug/vc141.idb
/Bezier_3/Bezier_3/x64/Debug/Bezier_3.tlog/link.write.1.tlog
/Bezier_3/Bezier_3/x64/Debug/Bezier_3.tlog/link.read.1.tlog
/Bezier_3/Bezier_3/x64/Debug/Bezier_3.tlog/link.command.1.tlog
/Bezier_3/Bezier_3/x64/Debug/Bezier_3.tlog/CL.write.1.tlog
/Bezier_3/Bezier_3/x64/Debug/Bezier_3.tlog/CL.read.1.tlog
/Bezier_3/Bezier_3/x64/Debug/Bezier_3.tlog/CL.command.1.tlog
/Bezier_3/Bezier_3/x64/Debug/Bezier_3.tlog/Bezier_3.lastbuildstate
/Bezier_3/Bezier_3/x64/Debug/Bezier_3.log
/Bezier_3/Bezier_3/x64/Release/vc141.pdb
/Bezier_3/Bezier_3/x64/Release/Bezier_3.tlog/link.write.1.tlog
/Bezier_3/Bezier_3/x64/Release/Bezier_3.tlog/link.read.1.tlog
/Bezier_3/Bezier_3/x64/Release/Bezier_3.tlog/link.command.1.tlog
/Bezier_3/Bezier_3/x64/Release/Bezier_3.tlog/CL.write.1.tlog
/Bezier_3/Bezier_3/x64/Release/Bezier_3.tlog/CL.read.1.tlog
/Bezier_3/Bezier_3/x64/Release/Bezier_3.tlog/CL.command.1.tlog
/Bezier_3/Bezier_3/x64/Release/Bezier_3.tlog/Bezier_3.write.1u.tlog
/Bezier_3/Bezier_3/x64/Release/Bezier_3.tlog/Bezier_3.lastbuildstate
/Bezier_3/Bezier_3/x64/Release/Bezier_3.log
/Bezier_3/x64/Release/Log.txt
/Bezier_3/x64/Release/Bezier_3.pdb
/Bezier_3/x64/Release/Bezier_3.ipdb
/Bezier_3/x64/Release/Bezier_3.iobj
/Bezier_3/x64/Release
/Bezier_3/x64/Debug/Bezier_3.pdb
/Bezier_3/x64/Debug/Bezier_3.ilk
/Bezier_3/x64/Debug
/Bezier_3/x64
/Bezier_3/Bezier_3/Log.txt
/Bezier_3/BezierTime/x64/Release/vc141.pdb
/Bezier_3/BezierTime/x64/Release/BezierTime.tlog/link.write.1.tlog
/Bezier_3/BezierTime/x64/Release/BezierTime.tlog/link.read.1.tlog
/Bezier_3/BezierTime/x64/Release/BezierTime.tlog/link.command.1.tlog
/Bezier_3/BezierTime/x64/Release/BezierTime.tlog/CL.write.1.tlog
/Bezier_3/BezierTime/x64/Release/BezierTime.tlog/CL.read.1.tlog
/Bezier_3/BezierTime/x64/Release/BezierTime.tlog/CL.command.1.tlog
/Bezier_3/BezierTime/x64/Release/BezierTime.tlog/BezierTime.write.1u.tlog
/Bezier_3/BezierTime/x64/Release/BezierTime.tlog/BezierTime.lastbuildstate
/Bezier_3/BezierTime/x64/Release/BezierTime.tlog
/Bezier_3/BezierTime/x64/Release/BezierTime.log
/Bezier_3/BezierTime/x64/Release
/Bezier_3/BezierTime/x64/Debug/vc141.pdb
/Bezier_3/BezierTime/x64/Debug/vc141.idb
/Bezier_3/BezierTime/x64/Debug/BezierTime.tlog/link.write.1.tlog
/Bezier_3/BezierTime/x64/Debug/BezierTime.tlog/link.read.1.tlog
/Bezier_3/BezierTime/x64/Debug/BezierTime.tlog/link.command.1.tlog
/Bezier_3/BezierTime/x64/Debug/BezierTime.tlog/CL.write.1.tlog
/Bezier_3/BezierTime/x64/Debug/BezierTime.tlog/CL.read.1.tlog
/Bezier_3/BezierTime/x64/Debug/BezierTime.tlog/CL.command.1.tlog
/Bezier_3/BezierTime/x64/Debug/BezierTime.tlog/BezierTime.lastbuildstate
/Bezier_3/BezierTime/x64/Debug/BezierTime.log
/Bezier_3/BezierTime/Log.txt
/Bezier_3/.vs/Bezier_3/v15/Solution.VC.db-wal
/Bezier_3/.vs/Bezier_3/v15/Solution.VC.db-shm
/Bezier_3/.vs/Bezier_3/v15/Solution.VC.db
/CosineFomulaIK/.vs/CosineFomulaIK/v15/Browse.VC.opendb
/CosineFomulaIK/.vs/CosineFomulaIK/v15/Browse.VC.db
/CosineFomulaIK/CosineFomulaIK/x64/Debug/vc141.pdb
/CosineFomulaIK/CosineFomulaIK/x64/Debug/vc141.idb
/CosineFomulaIK/CosineFomulaIK/x64/Debug/CosineFomulaIK.tlog/link.write.1.tlog
/CosineFomulaIK/CosineFomulaIK/x64/Debug/CosineFomulaIK.tlog/link.read.1.tlog
/CosineFomulaIK/CosineFomulaIK/x64/Debug/CosineFomulaIK.tlog/link.command.1.tlog
/CosineFomulaIK/CosineFomulaIK/x64/Debug/CosineFomulaIK.tlog/CosineFomulaIK.lastbuildstate
/CosineFomulaIK/CosineFomulaIK/x64/Debug/CosineFomulaIK.tlog/CL.write.1.tlog
/CosineFomulaIK/CosineFomulaIK/x64/Debug/CosineFomulaIK.tlog/CL.read.1.tlog
/CosineFomulaIK/CosineFomulaIK/x64/Debug/CosineFomulaIK.tlog/CL.command.1.tlog
/CosineFomulaIK/CosineFomulaIK/x64/Debug/CosineFomulaIK.log
/CosineFomulaIK/x64/Debug/CosineFomulaIK.pdb
/CosineFomulaIK/x64/Debug/CosineFomulaIK.ilk
/CosineFomulaIK/CosineFomulaIK/Log.txt
/CosineFomulaIK/.vs/CosineFomulaIK/v15/.suo
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/vc141.pdb
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/vc141.idb
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/CosineFomulaIK3D.tlog/link.write.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/CosineFomulaIK3D.tlog/link.read.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/CosineFomulaIK3D.tlog/link.command.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/CosineFomulaIK3D.tlog/CosineFomulaIK3D.lastbuildstate
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/CosineFomulaIK3D.tlog/CL.write.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/CosineFomulaIK3D.tlog/CL.read.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/CosineFomulaIK3D.tlog/CL.command.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Debug/CosineFomulaIK3D.log
/CosineFomulaIK/CosineFomulaIK3D/Log.txt
/CosineFomulaIK/x64/Debug/CosineFomulaIK3D.pdb
/CosineFomulaIK/x64/Debug/CosineFomulaIK3D.ilk
/CosineFomulaIK/CosineFomulaIK/x64/Release/CosineFomulaIK.log
/CosineFomulaIK/CosineFomulaIK/x64/Release/CosineFomulaIK.Build.CppClean.log
/CosineFomulaIK/CosineFomulaIK/x64/Release
/CosineFomulaIK/.vs/CosineFomulaIK/v15/Solution.VC.db-wal
/CosineFomulaIK/.vs/CosineFomulaIK/v15/Solution.VC.db-shm
/CosineFomulaIK/.vs/CosineFomulaIK/v15/Solution.VC.db
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/vc141.pdb
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.tlog/link.write.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.tlog/link.read.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.tlog/link.command.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.tlog/CosineFomulaIK3D.write.1u.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.tlog/CosineFomulaIK3D.lastbuildstate
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.tlog/CL.write.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.tlog/CL.read.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.tlog/CL.command.1.tlog
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.log
/CosineFomulaIK/CosineFomulaIK3D/x64/Release/CosineFomulaIK3D.Build.CppClean.log
/CosineFomulaIK/x64/Release/Log.txt
/CosineFomulaIK/x64/Release/CosineFomulaIK3D.pdb
/CosineFomulaIK/x64/Release/CosineFomulaIK3D.ipdb
/CosineFomulaIK/x64/Release/CosineFomulaIK3D.iobj
