# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/d542ebcc02d72183/MAIN.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/d46916daf2eb2e92/WORLD.ipch
/OJISWING/.vs/OJISWING/v15/Browse.VC.opendb
/OJISWING/.vs/OJISWING/v15/Browse.VC.db
/OJISWING/.vs/OJISWING/v15/.suo
/OJISWING/OJISWING/Debug/yamame.tlog/yamame.lastbuildstate
/OJISWING/OJISWING/Debug/yamame.tlog/link.write.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/link.read.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/link.command.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/CL.write.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/CL.read.1.tlog
/OJISWING/OJISWING/Debug/yamame.tlog/CL.command.1.tlog
/OJISWING/OJISWING/Log.txt
/OJISWING/OJISWING/Debug/vc141.pdb
/OJISWING/OJISWING/Debug/vc141.idb
/OJISWING/OJISWING/OJISWING.vcxproj.user
/OJISWING/Debug/yamame.pdb
/OJISWING/Debug/yamame.ilk
/OJISWING/OJISWING/Debug/OJISWING.log
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/6aea1c9ef7b61b78/OJISAN.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/be58b73f6e874202/SCREENSHAKER.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/a20acbf08ff660f3/MAIN.ipch
/OJISWING/.vs/OJISWING/v15/ipch/AutoPCH/2ebd0ca2b3fbadc8/OJISAN.ipch
